body{
    min-width: 100vh;
    background: linear-gradient(176.84deg, #BFE4FF 0%, #FFFFFF 87.67%);
}
.order-day {
    background: #BFE4FF;
    padding: 10px;
}
.loc .text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 64px;
    /* identical to box height, or 267% */

    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1D2B4F;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}
.container select.selection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 5px 10px;
    gap: 10px;

    background-color: transparent;
    border: 2px solid #1D2B4F;
    border-radius: 100px;

    font-size: 20px;
    line-height: calc(1em s*  1.4);
    /* identical to box height, or 175% */
    outline:none;
    letter-spacing: 0.05em;
    text-transform: capitalize;

    color: #1D2B4F;
    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    position: relative;
}
.container select.selection:focus:hover,.container select.selection:focus{
    border-radius:  32px 32px 00px 00px;

}
.container .selection::after{
    content:"\f078";
    position: absolute;
    top:50%;
    right:2%;
    translate: 0 -50%;
    font-family: 'FontAwesome';
    pointer-events: none;
}
.container .selection option{
    border:2px solid #1D2B4F;
}
