
.section h1 span {
    color:#FF9E2C;
}
.section .main {
    background: #C2E5FF;
}
.section .main .package{
    background: var(--bs-white);
    border-radius: 25px;
}
h3.text{
    padding-inline:1em;
    font-size: 1.15em;
    margin:auto;
    margin-left: 1em;
    max-width: 100%;
    text-align: left;
}
button.button{
    font-size: 1.25em;
}