<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>SITEMAPS_FILE_PATH</param-name>
        <param-value>/WEB-INF/siteMaps.properties</param-value>
    </context-param>
    <filter>
        <filter-name>DispatchFilter</filter-name>
        <filter-class>filter.DispatchFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DispatchFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>searchController</servlet-name>
        <servlet-class>controller.searchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyTemplateController</servlet-name>
        <servlet-class>controller.BuyTemplateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMoneyController</servlet-name>
        <servlet-class>controller.AddMoneyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTemplateController</servlet-name>
        <servlet-class>controller.AddTemplateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>searchController</servlet-name>
        <url-pattern>/searchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyTemplateController</servlet-name>
        <url-pattern>/BuyTemplate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/OrderHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMoneyController</servlet-name>
        <url-pattern>/AddMoneyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTemplateController</servlet-name>
        <url-pattern>/AddTemplateController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
